<section class="choice" id="choice">
  <div class="container">
    <div class="choice-grid">
      <div class="choice-title"><h2 class="title">Обрати каблучку</h2></div>
      <div class="choice-description">
        <p class="choice-text">Обирай ціну та тисни “Обрати каблучку”</p>
      </div>
      <div class="choice-action-start">
        <button id="buttonChoice" class="choice-start-btn btn">
          <img class="diamant" src="./img/dimond.png" width="52" />
          <img
            class="caret-down"
            src="./img/chevron-down-svgrepo-com.png"
            width="48"
            height="48"
          />
          <p class="priceText">Ціна</p>
          <div class="price-options">
            <div class="price-option" data-options="1">До 100 грн</div>
            <div class="price-option" data-options="2">100 - 200 грн</div>
            <div class="price-option" data-options="3">200 - 500 грн</div>
            <div class="price-option" data-options="4">500 - 1000 грн</div>
            <div class="price-option" data-options="5">
              ексклюзивна пропозиція
            </div>
          </div>
        </button>
      </div>
      <div class="choice-present">
        <img src="../img/present.png" alt="present" />
      </div>
    </div>
  </div>
</section>
