<section class="exclusive slider-container">
  <div class="container exclusive-container">
    <h2 class="exclusive-title title">Ексклюзивніі пропозиції</h2>
    <p class="exclusive-art-text">Я буду кохати тебе все життя!</p>
    <div class="slider">
      <!-- <div class="slider-wrapper"> -->
      <!-- <img src="image1.jpg" alt="Image 1" />
        <img src="image2.jpg" alt="Image 2" />
        <img src="image3.jpg" alt="Image 3" />
        <img src="image4.jpg" alt="Image 4" /> -->
      <!-- </div> -->
    </div>
    <div class="controls">
      <button class="prev-btn">←</button>
      <button class="next-btn">→</button>
    </div>
  </div>
</section>
