<header class="header" id="header">
  <div class="container">
    <div class="header-wrap">
      <a href="tel:+380507779988" class="header-tlf">(050) 777-99-88</a>
      <a href="#menu">
        <svg width="32" height="32">
          <use href="./img/sprite.svg#icon-burger" class="header-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
<div class="header-container" id="menu">
  <nav class="header-nav">
    <a href="#header">
      <svg class="header-close">
        <use href="./img/sprite.svg#icon-close-black"></use>
      </svg>
    </a>
    <ul class="header-list">
      <li class="header-nav-item">
        <a href="#features" class="header-menu">Що ми пропонуємо</a>
      </li>
      <li class="header-nav-item">
        <a href="#choice" class="header-menu">Обрати каблучку</a>
      </li>
      <li class="header-nav-item">
        <a href="#exclusive" class="header-menu">Ексклюзивні пропозиції</a>
      </li>
      <li class="header-nav-item">
        <a href="#selections" class="header-menu"
          >Як визначити розмір каблучки</a
        >
      </li>
    </ul>
  </nav>
</div>
