<header class="header">
  <div class="container">
    <nav class="header-nav">
      <input type="checkbox" name="burger" id="check-burger" />
      <svg class="header-close">
        <use href="./img/sprite.svg#icon-close-black"></use>
      </svg>
      <a href="#features" class="heder-menu">Що ми пропонуємо</a>
      <a href="#choice" class="heder-menu">Обрати каблучку</a>
      <a href="#exclusive" class="heder-menu">Ексклюзивні пропозиції</a>
      <a href="#selections" class="heder-menu">Як визначити розмір каблучки</a>
      <a href="tel:+380507779988" class="header-tlf">(050) 777-99-88</a>
      <label for="check-burger">
        <svg width="32" height="32">
          <use class="header-icon" href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </label>
    </nav>
  </div>
</header>
