<section class="hero">
  <div class="container">
    <div class="hero-cover">
      <span class="hero-box"></span>
      <span class="hero-box"></span>
      <span class="hero-box"></span>
      <span class="hero-box"></span>
      <span class="hero-box"></span>
      <span class="hero-box"></span>
      <span class="hero-box">
        <h1 class="hero-title gold">Ваша каблучка.</h1>
        <p class="hero-subtitle gold">До ідеального освідчення</p>
        <p class="hero-text gold">Якій вона скаже так!</p></span
      >
      <span class="hero-box">
        <h1 class="hero-title">Ваша каблучка.</h1>
        <p class="hero-subtitle">До ідеального освідчення</p>
        <p class="hero-text">Якій вона скаже так!</p></span
      >
    </div>
    <a href="#choice" class="hero-btn btn">Оберіть каблучку</a>
  </div>
</section>

<!-- <br />Оберіть каблучку.
<br />Оберіть каблучку. -->
