<section class="selections">
  <div class="container">
    <h2 class="selections-title title">Як обрати розмір каблучки</h2>
    <div class="selections-wrap">
      <div class="selections-bell"></div>
      <div class="selections-inner">
        <p class="selections-text">
          Візми нитку та обгорни нею палець, для якого обираєшь каблучку.
        </p>
        <p class="selections-text">
          Заміряй за допомогою лінійки відрізок нитки, якою обгортовував палець.
        </p>
        <p class="selections-text">
          Переходь на ресурс та визнач розмір каблучки.
        </p>
        <button class="selections-btn">Обрати каблучку</button>
      </div>
    </div>
  </div>
</section>
