<section class="selections" id="selections">
  <div class="container">
    <div class="parent">
      <div class="div1">
        <h2 class="selections-title title">Як обрати розмір каблучки</h2>
      </div>
      <div class="div2 selections-bell"></div>
      <div class="div3 selections-inner">
        <p class="selections-text">
          Візми нитку та обгорни нею палець, для якого обираєшь каблучку.
        </p>
        <p class="selections-text">
          Заміряй за допомогою лінійки відрізок нитки, якою обгортовував палець.
        </p>
        <p class="selections-text">
          Переходь на <a href="#">ресурс</a> та визнач розмір каблучки.
        </p>
      </div>
      <div class="div4 selections-btn">
        <a href="#choice" class="btn">Обрати каблучку</a>
      </div>
    </div>
  </div>
</section>
