@import 'normalize.css';
@import './../variables.scss';

.modal-content {
  display: flex;
  align-items: start;
  gap: 116px;
}
.rings-card-photo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  & img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    box-shadow: 40px 40px 76px -60px rgba(34, 60, 80, 0.2);
    &:first-child {
      width: 560px;
      height: 513px;
    }
    &:hover:not(:first-child) {
      transform: scale(2.07);
      position: relative;
      border: 2px solid $primaryRed;
      bottom: 145px;
      &:nth-child(2) {
        left: 145px;
      }
      &:last-child {
        right: 145px;
      }
    }
  }
}

.rings-card-box {
  display: grid;
  flex-direction: column;
}

.rings-card-title {
  margin-bottom: 28px;
  color: #000000;
  font-size: 32px;
}

.rings-card-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}

.rings-card-options-text {
  margin-right: 24px;
  color: $grey;
}
.rings-card-options-text.met::before {
  color: $black;
  margin-right: 30px;
  content: 'Метал:';
}
.rings-card-options-text.st::before {
  color: $black;
  margin-right: 24px;
  content: 'Камінь:';
}
.rings-card-options-text.wd::before {
  color: $black;
  margin-right: 24px;
  content: 'Розмір:';
}

.rinds-card-price {
  color: $primaryRed;
  font-size: 34px;
  font-weight: 500;
}
.rings-card-description {
  margin-bottom: 35px;
  color: $black;
  font-size: 24px;
}

.rings-card-btn {
  display: flex;
  width: 462px;
  padding: 16px;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid $black;
  background: $white;
  &:hover {
    background-color: $red;
  }
}

.rings-card-consultation {
  font-size: 24px;
  text-align: right;
  margin-bottom: 40px;
  outline: none;
  border: none;
  z-index: 1;
  &:hover {
    color: $darkRed;
    text-shadow: 1px 1px 2px rgba(94, 15, 16, 0.4);
  }
}

.rings-card-arttext {
  position: absolute;
  bottom: 5px;
  color: #000000;
  font-family: Marianna;
  font-size: 130px;
  line-height: normal;
}
