@import 'normalize.css';
@import './../variables.scss';

.modal-order {
  text-align: center;
}
.modal-order-title {
  margin-bottom: 16px;
  color: #000000;
  font-family: Marianna;
  font-size: 40px;
  line-height: normal;
}

.modal-order-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-input {
  width: 100%;
  padding: 16px 20px;
  border-radius: 20px;
  color: $grey;
  font-size: 16px;
  border: 1px solid $lightGrey;
  background: #fff;
  outline: transparent;
}

.modal-input:is(:focus, :hover) {
  border-color: $primaryRed;
}

.modal-input-text {
  display: block;
  margin: 0;
}

.modal-input-text > span {
  display: block;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
  font-size: 12px;
  line-height: 1.33;
}

.modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-wrap {
  position: relative;
}

.modal-order-icon {
  position: absolute;
  top: 50%;
  right: 2%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  fill: rgba(117, 117, 117, 0.5);
}

.modal-check {
  width: 20px;
  height: 20px;
  margin-inline-start: -20px;
}

.modal-text {
  display: flex;
  position: relative;
  align-items: center;
  left: -18px;
  transition: backgraund-color var(--tra), border var(--tra), fill var(--tra);
  letter-spacing: 0.04em;
  color: $black;
  font-size: 16px;
  line-height: 1.5;
  gap: 3px;
}

.modal-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  fill: transparent;
}

.modal-field {
  padding-left: 35px;
  display: flex;
  align-items: center;
}

.modal-check:checked + .modal-text span {
  border: none;
  background-color: $primaryRed;
  left: -50px;
  fill: $red;
}

.modal-check:is(:hover, :focus) + .modal-text span {
  border: solid $primaryRed;
}

.modal-btn.btn {
  display: flex;
  // width: fit-content;
  margin: 0 auto;
  padding: 16px;
  justify-content: center;
  align-items: center;
  color: ffffff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  background: $black;
}

.modal-error {
  position: absolute;
  bottom: -20px;
  left: 47px;
  opacity: 0;
  color: $primaryRed;
  font-size: 13px;
  line-height: 1.5;
}

.modal-input:invalid:not(:placeholder-shown):not(:focus-visible)
  ~ .modal-error {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .modal-order-title {
    font-size: 60px;
  }
  .modal-order-form {
    gap: 24px;
  }
  .modal-input {
    padding: 18px 12px;
    font-size: 18px;
  }
  .modal-text {
    font-size: 18px;
  }
  .modal-btn.btn {
    padding: 16px 36px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-order-title {
    font-size: 85px;
  }
  .modal-order-form {
    gap: 32px;
  }
  .modal-input {
    font-size: 20px;
  }
  .modal-text {
    font-size: 20px;
  }
  .modal-btn.btn {
    padding: 24px 36px;
    font-size: 24px;
  }
}
