@import 'normalize.css';
@import './../variables.scss';
.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity var(--tra), visibility var(--tra);
  background-color: rgba(10, 13, 23, 0.8);
}

.modal {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  min-width: 320px;
  min-height: 320px;
  padding: 36px 16px 12px;
  transition: transform var(--tra);
  transform: translate(-50%, -50%) scaleY(1);
  border-radius: 30px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(0%, 0%) scaleY(0);
}

.modal-close {
  position: absolute;
  top: 25px;
  right: 25px;
  display: block;
  cursor: pointer;
  transition: color var(--tra), background-color var(--tra);
  color: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
}

.modal-close-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  fill: rgba(10, 13, 23, 0.5);
}

.modal-close-svg use:is(:hover, :focus) {
  background-color: $darkRed;
  fill: $darkRed;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 30px;
  }
  .modal-close-svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    padding: 30px;
  }
  .modal-close-svg {
    width: 26px;
    height: 26px;
  }
}
