.modal-content {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}
.rings-card-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  & img {
    display: none;
    box-shadow: 40px 40px 76px -60px rgba(34, 60, 80, 0.2);
    object-fit: cover;
    &:first-child {
      display: block;
      width: 288px;
      height: 268px;
    }
    &:hover:not(:first-child) {
      position: relative;
      bottom: 145px;
      transform: scale(2.07);
      border: 2px solid $primaryRed;
      &:nth-child(2) {
        left: 145px;
      }
      &:last-child {
        right: 145px;
      }
    }
  }
}

.rings-card-box {
  display: flex;
  flex-direction: column;
}

.rings-card-title {
  margin-bottom: 4px;
  color: #000000;
  font-size: 16px;
}

.rings-card-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  gap: 2px;
}

.rings-card-options-text {
  margin-right: 16px;
  color: $grey;
  font-size: 12px;
  font-weight: 300;
  &:nth-child(3) {
    display: none;
  }
}
.rings-card-options-text.met::before {
  margin-right: 19px;
  content: 'Метал:';
  color: $black;
}
.rings-card-options-text.st::before {
  margin-right: 16px;
  content: 'Камінь:';
  color: $black;
}
.rings-card-options-text.wd::before {
  margin-right: 16px;
  content: 'Розмір:';
  color: $black;
}

.rinds-card-price {
  color: $primaryRed;
  font-size: 18px;
  font-weight: 500;
}
.rings-card-description {
  width: 268px;
  margin-bottom: 12px;
  color: $black;
  font-size: 16px;
}

.rings-card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 288px;
  margin-bottom: 24px;
  padding: 16px;
  border: 1px solid $black;
  border-radius: 20px;
  background: $white;
  font-size: 18px;
  &:hover {
    background-color: $red;
  }
}

.rings-card-consultation {
  z-index: 1;
  text-align: center;
  margin-bottom: 4px;
  border: none;
  outline: none;
  font-size: 16px;
  &:hover {
    color: $darkRed;
    text-shadow: 1px 1px 2px rgba(94, 15, 16, 0.4);
  }
}

.rings-card-arttext {
  display: none;
}

@media screen and (min-width: 768px) {
  .modal-content {
    flex-direction: row;
    gap: 27px;
  }
  .rings-card-photo {
    justify-content: center;
    gap: 14px;
    & img {
      display: block;
      width: 164px;
      height: 164px;
      &:first-child {
        width: 344px;
        height: 240px;
      }
      &:hover:not(:first-child) {
        bottom: 90px;
        transform: scale(2.1);
        &:nth-child(2) {
          left: 89px;
        }
        &:last-child {
          right: 89px;
        }
      }
    }
  }
  .rings-card-title {
    margin-bottom: 16px;
    font-size: 20px;
  }
  .rings-card-options {
    margin-bottom: 18px;
    gap: 8px;
  }
  .rings-card-options-text {
    margin-right: 24px;
    font-size: 16px;
    font-weight: 400;
    &:nth-child(3) {
      display: block;
    }
  }
  .rings-card-options-text.met::before {
    margin-right: 2px;
  }
  .rings-card-options-text.st::before {
    margin-right: 18px;
  }
  .rings-card-options-text.wd::before {
    margin-right: 17px;
  }
  .rinds-card-price {
    font-size: 24px;
  }
  .rings-card-description {
    width: 100%;
    margin-bottom: 30px;
  }
  .rings-card-btn {
    width: 332px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  .rings-card-consultation {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-content {
    gap: 116px;
  }
  .rings-card-photo {
    justify-content: center;
    gap: 20px;
    & img {
      width: 270px;
      height: 270px;
      &:first-child {
        width: 560px;
        height: 513px;
      }
      &:hover:not(:first-child) {
        bottom: 145px;
        transform: scale(2.07);
        &:nth-child(2) {
          left: 145px;
        }
        &:last-child {
          right: 145px;
        }
      }
    }
  }
  .rings-card-title {
    margin-bottom: 28px;
    font-size: 32px;
  }
  .rings-card-options {
    margin-bottom: 30px;
    gap: 16px;
  }
  .rings-card-options-text {
    margin-right: 24px;
    font-size: 24px;
  }
  .rings-card-options-text.met::before {
    margin-right: 30px;
  }
  .rings-card-options-text.st::before {
    margin-right: 24px;
  }
  .rings-card-options-text.wd::before {
    margin-right: 24px;
  }
  .rinds-card-price {
    font-size: 34px;
  }
  .rings-card-description {
    margin-bottom: 35px;
    font-size: 24px;
  }
  .rings-card-btn {
    width: 462px;
    margin-bottom: 32px;
    font-size: 20px;
  }
  .rings-card-consultation {
    margin-bottom: 40px;
    text-align: right;
    font-size: 24px;
  }
  .rings-card-arttext {
    position: absolute;
    bottom: 5px;
    display: block;
    color: #000000;
    font-family: Marianna;
    font-size: 130px;
    line-height: normal;
  }
}
