$primaryRed: #901719;
$darkRed: #5e0f10;
$red: #e9d1d1;
$grey: #6c6a68;
$black: #0a0d17;
$white: #ffffff;
$light: #f8f8f8;
$lightGrey: #a2a1a1;
$hero: #fbfbfb;
$btn: #f5f1ec;

:root {
  --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}

.title {
  margin-bottom: 35px;
  color: $black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: 500;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 36px;
  color: $btn;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: $black;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .title {
    font-size: 32px;
    font-weight: 300;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 100px 32px 80px;
  }
  .title {
    font-size: 40px;
  }
}
