@import 'normalize.css';
@import 'variables.scss';

.choice {
  background: #f8f8f8;
  & .container {
    padding-bottom: 0;
    padding-top: 0;
  }
}
.choice-grid {
  display: grid;
  grid-template-columns: 1fr 207px 1fr;
  grid-template-rows: repeat(2, 109px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.choice-title {
  grid-area: 1 / 1 / 2 / 2;
  align-self: self-end;
  & .title {
    margin-bottom: 0;
  }
}
.choice-description {
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: self-end;
  margin-bottom: 40px;
}
.choice-present {
  grid-area: 1 / 2 / 3 / 3;
  justify-self: start;
  align-self: center;
}
.choice-action-start {
  grid-area: 1 / 3 / 3 / 4;
  justify-self: end;
  align-self: self-end;
  margin-bottom: 40px;
}
.choice-text {
  color: #000000;
  font-size: 20px;
  line-height: 1.5;
}
.choice-btn {
  display: inline;
}
.choice-start-btn.btn {
  position: relative;
  width: 494px;
  height: 84px;
  padding: 16px 13px;
  background-color: #fff;
  color: #000000;
  border: 1px solid $grey;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.diamant {
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
}
.caret-down {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}
.price-options {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -95%;
  width: 494px;
  padding: 16px 13px;
  background-color: #fff;
  color: #000000;
  border: 1px solid $grey;
  border-radius: 30px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  transition: opacity 0.8s, visibility 0.5s;
}
.price-option {
  position: relative;
  transition: color 2s ease 0.5s;
}
.price-option::before {
  content: '\2666';
  font-family: Montserrat;
  font-size: 10px;
  margin-right: 35px;
  display: none;
}
.price-option::after {
  content: '\2666';
  font-family: Montserrat;
  font-size: 10px;
  margin-left: 35px;
  display: none;
}
.price-option:hover::before {
  display: inline-block;
}
.price-option:hover::after {
  display: inline-block;
}
.price-option:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
  color: #901719;
}
.selected {
  color: #901719;
}
.show .price-options {
  opacity: 1;
  visibility: visible;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.choice-btn.btn {
  background-color: $grey;
}
