@import 'normalize.css';
@import 'variables.scss';

.choice {
  background: #f8f8f8;
}

.choice-text {
  color: #000000;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 48px;
}
.choice-form {
  display: flex;
  justify-content: space-between;
}

.choice-input {
  width: 494px;
  height: 84px;
  border-radius: 30px;
  border: 1px solid $color-grey;
  background: #fff;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.choice-btn.btn {
  background-color: $color-grey;
}
