@import 'normalize.css';
@import 'variables.scss';

.exclusive-container {
  position: relative;
}
.exclusive-art-text {
  position: absolute;
  top: 0;
  left: 10%;
  margin-top: 18px;
  color: #6c6a68;
  font-family: Marianna;
  font-size: 100px;
  opacity: 0.2;
}

// .exclusive-slider {
//   width: 100%;
//   height: 430px;
//   border: solid #6c6a68;
// }

.exclusive-img {
  max-height: 400px !important;
  max-width: 300px;
  background-size: cover;
}
