@import 'normalize.css';
@import 'variables.scss';

.slider {
  z-index: 1;
}
.exclusive {
  & .exclusive-container {
    position: relative;
    padding-top: 26px;
    padding-bottom: 110px;
  }
}
.exclusive-art-text {
  position: absolute;
  bottom: -10px;
  color: #6c6a68;
  line-height: 1;
  font-family: Marianna;
  font-size: 120px;
  opacity: 0.2;
}

.exclusive-img {
  max-height: 400px !important;
  max-width: 300px;
  background-size: cover;
}
