@import 'normalize.css';
@import 'variables.scss';

.slider {
  z-index: 1;
}

.exclusive {
  & .exclusive-container {
    position: relative;
    padding-bottom: 38px;
  }
}

.exclusive-art-text {
  position: absolute;
  opacity: 0.2;
  color: #6c6a68;
  font-family: Marianna;
  font-size: 0px;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .exclusive {
    & .exclusive-container {
      padding-top: 12px;
      padding-bottom: 110px;
    }
  }
  .exclusive-art-text {
    bottom: 40px;
    margin-left: 30px;
    font-size: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .exclusive {
    & .exclusive-container {
      padding-top: 62px;
    }
  }
  .exclusive-art-text {
    bottom: -10px;
    margin-left: 10px;
    font-size: 120px;
  }
}
