@import 'normalize.css';
@import 'variables.scss';

.features {
  background-image: url('./img/features-ring.png');
  background-repeat: no-repeat;
  background-size: 243px 436px;
  background-position: 81% 3%;
}
.features-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px auto 100px;
  grid-column-gap: 50px;
  grid-row-gap: 32px;
}
.features-parent .container {
  padding-top: 68px 32px 80px;
}
.features-title {
  margin-top: 84px;
}

.features-grid-1 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: self-end;
  & .title {
    margin-bottom: 0;
  }
}
.features-grid-2 {
  position: relative;
  overflow: hidden;
  grid-area: 2 / 1 / 3 / 2;
  border-radius: 20px;
  z-index: 1;
}
.features-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  animation-duration: 5s;
  animation-name: background-image-animation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform: translateX(0) scale(1.1);
  background: url('https://images.pexels.com/photos/16605/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb')
    no-repeat center center;
  background-size: cover;
}
@keyframes background-image-animation {
  0% {
    transform: translateX(-5%) scale(1.1);
  }
  100% {
    transform: translateX(5%) scale(1.1);
  }
}
.features-grid-3 {
  grid-area: 2 / 2 / 3 / 3;
}
.features-grid-4 {
  grid-area: 3 / 1 / 4 / 3;
}

.kenburns-bottom-right {
  -webkit-animation: kenburns-bottom-right 5s ease-out infinite alternate both;
  animation: kenburns-bottom-right 5s ease-out infinite alternate both;
}
@-webkit-keyframes kenburns-bottom-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
    transform-origin: 84% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, 15px);
    transform: scale(1.25) translate(20px, 15px);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }
}
@keyframes kenburns-bottom-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
    transform-origin: 84% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, 15px);
    transform: scale(1.25) translate(20px, 15px);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }
}
.features-text {
  display: inline;
  color: $black;
  font-size: 20px;
  line-height: 1.5;
}

.features-art-text {
  position: relative;
  bottom: 55px;
  left: 87px;
  color: #6c6a68;
  font-family: Marianna;
  font-size: 140px;
  font-weight: 400;
  text-align: center;
  opacity: 0.2;
}
