@import 'normalize.css';
@import 'variables.scss';

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: $black;
  z-index: 2;
  & .container {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.header-nav {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: end;
}

.header-tlf {
  color: $black;
  font-size: 24px;
  line-height: 1.5;
}

.header-icon {
  stroke: $black;
}
