@import 'normalize.css';
@import 'variables.scss';

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: $black;
  z-index: 2;
  & .container {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all var(--tra);
  &:has(#check-burger:checked) {
    justify-content: space-between;
    flex-direction: column;
    & > .header-tlf {
      display: none;
    }
  }
}

.heder-menu {
  max-height: 0;
  font-size: 0;
  visibility: hidden;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid $darkRed;
  }
}

.header-tlf {
  font-size: 16px;
  color: $black;
  border-bottom: 2px solid transparent;
  order: -1;
  &:hover {
    border-bottom: 2px solid $darkRed;
  }
}

#check-burger {
  display: none;
}

#check-burger:checked {
  & ~ .heder-menu {
    visibility: visible;
    max-height: 40px;
    color: $black;
    font-size: 17px;
    margin-right: auto;
    margin-bottom: 8px;
    line-height: 1.6;
  }
  & ~ label {
    display: none;
  }
}

.header-icon {
  width: 32px;
  display: block;
  stroke: $black;
  cursor: pointer;
}
label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-nav {
    flex-direction: row;
    justify-content: space-between;
    &:has(#check-burger:checked) {
      flex-direction: row;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .header-nav {
    justify-content: end;
    gap: 40px;
  }
  .header-tlf {
    font-size: 20px;
    order: unset;
  }
}
