@import 'normalize.css';
@import 'variables.scss';

.hero {
  position: relative;
  width: 99vw;
  height: 100vh;

  background-image: url('../img/hero.jpg');
  background-position: center;
  background-size: cover;
  & .container {
    padding-top: 290px;
    padding-bottom: 100px;
  }
}

.hero-cover {
  text-align: left;
  width: 656px;
  height: 420px;
  margin-bottom: 130px;
  padding: 28px;
  border-radius: 30px;
  background: linear-gradient(
    125deg,
    rgba(10, 13, 23, 0.22) 0%,
    rgba(10, 13, 23, 0) 100%
  );
  backdrop-filter: blur(21.5px);
}

.hero-title {
  color: $color-hero;
  margin: 0;
  margin-bottom: 24px;
  font-family: Marianna;
  font-size: 96px;
}
.hero-subtitle {
  margin-bottom: 24px;
  color: $color-hero;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
}

.hero-text {
  color: $color-hero;
  font-size: 24px;
  line-height: 1.5;
}

.hero-btn {
  margin: 0 auto;
}
