@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/fonts/icons.ttf?9rds5g') format('truetype'),
    url('../fonts/icons/fonts/icons.woff?9rds5g') format('woff'),
    url('../fonts/icons/fonts/icons.svg?9rds5g#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: '\e902';
}
.icon-whatsapp:before {
  content: '\e900';
  color: #66e066;
}
.icon-facebook:before {
  content: '\e901';
  color: #1877f2;
}
.icon-viber:before {
  content: '\e903';
  color: #603a88;
}
.icon-tiktok:before {
  content: '\e904';
  color: #69c9d0;
}
.icon-telegram:before {
  content: '\e906';
  color: #1b92d1;
}
.icon-instagram:before {
  content: '\e907';
  color: #dd2a7b;
}
.icon-email:before {
  content: '\e90a';
}
.icon-ring3:before {
  content: '\e905';
}
