.mask {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-hide {
  opacity: 0;
}

.loader-size {
  width: 75px;
}

@media screen and (min-width: 768px) {
  .loader-size {
    width: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .loader-size {
    width: 320px;
  }
}
