@import 'normalize.css';
@import 'variables.scss';

.mask {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-hide {
  opacity: 0;
}
// .loader {
//   width: 75px;
//   height: 75px;
//   border: 10px solid rgb(216, 114, 114, 0.6);
//   border-radius: 50%;
//   border-left-color: rgb(216, 114, 114);
//   animation: loader 1.3s linear infinite;
// }
// @keyframes loader {
//   100% {
//     transform: rotate(360deg);
//   }
// }
