@import 'normalize.css';
@import 'variables.scss';

.products {
  & .container {
    padding: 14px 0;
  }
}
.products-cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 18px;
  margin-bottom: 40px;
  border: 0.1px solid #ccc;
}

.product-img {
  text-align: center;
  width: 240px;
  height: 240px;
  margin-bottom: 16px;
  border: solid #ccc;
}

.product-name {
  padding-bottom: 4px;
  color: $black;
  font-size: 19px;
  line-height: 1.5;
}

.product-text {
  color: $grey;
  font-size: 16px;
  line-height: 1.5;
}

.product-price {
  color: #901719;
  font-size: 32px;
  line-height: 1.5;
}
