.slick-list {
  overflow: hidden;
  margin: 0 -30px 0 -5px;
}

.slick-track {
  display: flex;
  //Включение адаптивной высоты
  align-items: flex-start;
  justify-content: center;
}

.slider__item img {
  // max-height: 100%;
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.slider__item {
  width: auto;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  transition: all 0.3s ease 0s;
  text-align: center;
  opacity: 0.7;
  &.slick-center {
    opacity: 1;
  }
}

.slider .slider__item {
  margin-right: 15px;
}

.slider {
  position: relative;
  //Для кнопок
  //   padding: 0 50px;
  & .slick-arrow {
    position: absolute;
    z-index: 2;
    top: 50%;
    // Размер кнопок
    width: 48px;
    height: 48px;
    // Положение кнопок по вертикали
    margin: 0 8px 0 28px;
    font-size: 0;
    &.slick-prev {
      left: 20;
      background: url('../img/caret-left.svg') 0 0 / 100% no-repeat;
      background-color: transparent;
      stroke: #901719;
      &::before {
        font-size: 0;
      }
    }
    &.slick-next {
      right: 20;
      background: url('../img/caret-right.svg') 0 0 / 100% no-repeat;
      stroke: #901719;
      // background-color: transparent;
      &::before {
        font-size: 0;
      }
    }
    .slick-disabled {
      opacity: 0.2;
    }
  }

  & .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    & li {
      left: 10px;
      margin: -30px 2.5px;
      list-style: none;
      &.slick-active button::before {
        border: 1px solid #901719;
        background-color: #901719;
      }
    }
    & button::before {
      width: 16px;
      height: 4px;
      border: 1px solid #901719;
      border-radius: 20px;
      background-color: transparent;
      font-size: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .slider .slick-dots {
    & li {
      left: 5px;
      margin: -30px 12px;
    }
    & button::before {
      width: 34px;
      height: 8px;
    }
  }
}
