$color-primary: #646cff;

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 365px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 734px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
    padding: 80px 0;
  }
}
